<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<meta http-equiv="Cache-Control" content="no-cache"/>      
<title>Insert title here</title>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style type="text/css">
     textarea {
    resize: none;
  	}
  	#text1:before{
  		content : '\21B3'
  	}
    </style>
</head>
<body>
	<!-- Page Wrapper -->
    <div id="wrapper">

  		<!-- Sidebar -->
		<div id="sidebar"></div>
		<!-- End of Sidebar -->        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
					<br>
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">문의수정</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header mb-4"> 
                            <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
			
							<h3>제목</h3>
	              			<textarea rows="2%" cols="100%" placeholder="제목작성" ></textarea>	                            
                        </div>
						<h3 style="margin-left: 20px;">내용</h3>
      					<textarea rows="10%" placeholder="내용작성" style="margin-left: 20px; width:70%;"></textarea>
	                    <p style="margin-left: 20px; margin-top: 10px">사용자 : nickname</p>
	                    <p style="margin-left: 20px;">등록일자 : 2024:05:16 00:00:00</p>	 	   
					</div>
					<hr>
					 <h3 id="text1"style="margin-left: 20px;">답변</h3> 
						<textarea rows="5%" placeholder="답변내용" style="margin-left: 20px; margin-bottom :20px; width:70%;"></textarea>
						<p style="margin-left: 20px; margin-top: 10px">답변일자 : 2024:05:16 00:00:00</p>
						<div class="btn mt-3" style="display: flex; justify-content: flex-end; ">
	                    	<button type="button" class="btn btn-outline-primary" style="width:75px" onclick="confirmModal1()">등록</button>
	                    		<script type="text/javascript">
		                    		function confirmModal1() {
										if (window.confirm("등록을 완료했습니다.")){
											location = "table_문의.html"; 
										}
										else{
											console.log("취소.변화없음");
										}
									}
		                    	</script>
	                    	<button type="button" class="btn btn-outline-danger ml-3" style="width:75px" onclick="confirmModal2()">삭제</button>
	                    			<script type="text/javascript">
			                    		function confirmModal2() {
											if (window.confirm("삭제을 완료했습니다.")){
												location = "table_문의.html";
											}
											else{
												console.log("취소.변화없음");
											}
										}
			                    	</script>
                    	</div>
                                             
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
			<div id="footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/sb.js"></script>    
</body>
</html>