<!DOCTYPE html>
<html >
<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/gdf61b046222fac5a3cd6fdc38144-h_lvo11nj9.png" type="image/x-icon">
  <meta name="description" content="간단하고 맛있는 레시피">
  <title>맛있는 레시피</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/web/assets/mobirise-icons/mobirise-icons.css?rnd=1714583083056">
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1714583083056">
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/bootstrap/css/bootstrap.min.css?rnd=1714583083056">
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1714583083056">
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1714583083056">
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/dropdown/css/style.css?rnd=1714583083056">
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/theme/css/style.css?rnd=1714583083056">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/418493/assets/css/mbr-additional.css?rnd=1714583083056" type="text/css">
  
  <style type="text/css">
    img{
      height: 300px;
    }
    .display-4{
      vertical-align: inherit;
    }
  </style>
</head>

<body>
  <!-- header 시작 -->
  <section data-bs-version="5.1" class="menu menu2 cid-ubxwyl6rXa" once="menu" id="menu-5-ubxwyl6rXa">
	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
						<img src="assets/images/gdf61b046222fac5a3cd6fdc38144-h_lvo11nj9.png" alt="" style="height: 4.5rem;">
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" >맛있는 레시피</a></span>
			</div>
			<button class="navbar-toggler" type="button" 
              data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
          <li class="nav-item dropdown">
						<a class="nav-link link text-black dropdown-toggle display-4" href="#" 
                data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">한식</a>
            <div class="dropdown-menu" aria-labelledby="dropdown-678">
              <a class="text-black dropdown-item display-4" href="#">밥</a>
              <a class="text-black show dropdown-item display-4" href="#" 
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">국</a>
              <a class="text-black show dropdown-item display-4" href="#" 
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">반찬</a>
            </div>
					</li>
          <li class="nav-item">
            <a class="nav-link link text-black display-4" href="#" 
                data-bs-auto-close="outside" aria-expanded="false">양식</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-black display-4" href="#" 
                data-bs-auto-close="outside" aria-expanded="false">중식</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-black display-4" href="#" 
                data-bs-auto-close="outside" aria-expanded="false">일식</a>
          </li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="#" aria-expanded="false">베이킹</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="#">간식</a>
					</li></ul>				
				<div class="navbar-buttons mbr-section-btn">
          <a class="btn btn-warning-outline display-4" href="login.html">
            <span class="mbri-login mbr-iconfont mbr-iconfont-btn" style="color: rgb(119, 135, 165);"></span>
            로그인<span class="mbri-로그인 mbr-iconfont mbr-iconfont-btn"></span></a></div>
			</div>
		</div>
	</nav>
</section>
<!-- header 끝 -->

<section data-bs-version="5.1" class="features38 cid-ubxwyl9azq" id="features-66-ubxwyl9azq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>마라탕 레시피</strong>
                    </h1>
                    <p class="mbr-text align-left mbr-fonts-style mb-4 display-9">마라탕 레시피마라탕 레시피마라탕 레시피마라탕 레시피마라탕 레시피마라탕 레시피마라탕 레시피마라탕 레시피</p>
                    
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-100" src="assets/images/photo-1505935428862-770b6f24f629.jpeg" alt="" >
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider4 mbr-embla cid-ubxwyl8tSX" id="gallery-5-ubxwyl8tSX">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-12 content-head">
        
        <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">
          오늘의 추천 레시피
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="embla position-relative" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play="true" data-auto-play-interval="2">
          <div class="embla__viewport">
            <div class="embla__container">
              <div class="embla__slide slider-image item" style="margin-left: 0rem; margin-right: 0rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="assets/images/photo-1490818387583-1baba5e638af.jpeg" alt="" title="" height="300px">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 0rem; margin-right: 0rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="assets/images/photo-1714138667800-e93341a1792f.jpeg" alt="" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 0rem; margin-right: 0rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="assets/images/photo-1496412705862-e0088f16f791.jpeg" alt="" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 0rem; margin-right: 0rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="assets/images/photo-1495195134817-aeb325a55b65.jpeg" alt="" title="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="embla__slide slider-image item" style="margin-left: 0rem; margin-right: 0rem;">
                <div class="slide-content">
                  <div class="item-img">
                    <div class="item-wrapper">
                      <img src="assets/images/photo-1714138667501-5ff02866c4f2.jpeg" alt="" title="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="embla__button embla__button--prev">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Previous</span>
          </button>
          <button class="embla__button embla__button--next">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="footer2 cid-ubxwylcscK"  id="footer-5-ubxwylcscK">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 center mt-2 mb-3">
                <p class="mbr-fonts-style copyright mb-0 display-10">© 2024 Tasty Recipes. All Rights Stirred.</p>
            </div>
            <div class="col-12 col-lg-6 center">
                <div class="row-links mt-2 mb-3">
                    <ul class="row-links-soc">
						<li class="row-links-soc-item mbr-fonts-style display-10">
					        <a href="#" class="text-white">맛있는 레시피</a>
					    </li><li class="row-links-soc-item mbr-fonts-style display-10">
					        <a href="#" class="text-white">공지사항</a>
					    </li><li class="row-links-soc-item mbr-fonts-style display-10">
					        <a href="#" class="text-white">오시는길</a>                        
					    </li>
				    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/ytplayer/index.js"></script>
<script src="assets/dropdown/js/navbar-dropdown.js"></script>
<script src="assets/embla/embla.min.js"></script>
<script src="assets/embla/script.js"></script>
<script src="assets/theme/js/script.js"></script>

  
  
</body>
</html>