<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1" />
<link rel="shortcut icon"
	href="assets/images/gdf61b046222fac5a3cd6fdc38144-h_lvo11nj9.png"
	type="image/x-icon" />
<meta name="description" content="간단하고 맛있는 레시피" />
<title>맛있는 레시피</title>
<link rel="stylesheet"
	href="https://r.mobirisesite.com/418493/assets/web/assets/mobirise-icons/mobirise-icons.css?rnd=1714583083056" />
<link rel="stylesheet"
	href="https://r.mobirisesite.com/418493/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1714583083056" />
<link rel="stylesheet"
	href="https://r.mobirisesite.com/418493/assets/bootstrap/css/bootstrap.min.css?rnd=1714583083056" />
<link rel="stylesheet"
	href="https://r.mobirisesite.com/418493/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1714583083056" />
<link rel="stylesheet"
	href="https://r.mobirisesite.com/418493/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1714583083056" />
<link rel="stylesheet"
	href="https://r.mobirisesite.com/418493/assets/theme/css/style.css?rnd=1714583083056" />
<link rel="preload"
	href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap&display=swap"
	as="style" onload="this.onload=null;this.rel='stylesheet'" />
<link rel="stylesheet" href="./css/inquiry_bootStrap.css"
	type="text/css" />
<link rel="stylesheet" href="./css/inquiry.css">
<style type="text/css">
img {
	height: 300px;
}

.display-4 {
	vertical-align: inherit;
}

#header {
	width: 100%;
	height: 200px;
}
</style>
</head>

<body>
	<!-- header 시작 -->
	<header data-bs-version="5.1" class="menu menu2 cid-ubxwyl6rXa"
		id="menu-5-ubxwyl6rXa">
		<nav class="navbar navbar-fixed-top navbar-expand-lg">
			<div class="container">
				<div class="navbar-brand">
					<span class="navbar-logo"> <a href="../index.html"><img
						src="../frMng/img/맛있는레시피logoremovebg.png"
						alt="" style="height: 4.5rem;"></a>
					</span>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-bs-toggle="collapse" data-target="#navbarSupportedContent"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation"></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav" data-app-modern-menu="true">
						<li class="nav-item"><a
							class="nav-link link text-black display-4" href="#"
							data-bs-auto-close="outside" aria-expanded="false">한식</a></li>
						<li class="nav-item"><a
							class="nav-link link text-black display-4" href="#"
							data-bs-auto-close="outside" aria-expanded="false">양식</a></li>
						<li class="nav-item"><a
							class="nav-link link text-black display-4" href="#"
							data-bs-auto-close="outside" aria-expanded="false">중식</a></li>
						<li class="nav-item"><a
							class="nav-link link text-black display-4" href="#"
							data-bs-auto-close="outside" aria-expanded="false">일식</a></li>
						<li class="nav-item"><a
							class="nav-link link text-black display-4" href="#"
							aria-expanded="false">베이킹</a></li>
						<li class="nav-item"><a
							class="nav-link link text-black display-4" href="#">간식</a></li>
					</ul>
					<div class="navbar-buttons mbr-section-btn">
						<a class="btn btn-warning-outline display-4" href="login.html">
							<span class="mbri-login mbr-iconfont mbr-iconfont-btn"
							style="color: rgb(119, 135, 165);"></span> 로그인<span
							class="mbri-로그인 mbr-iconfont mbr-iconfont-btn"></span>
						</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- header 끝 -->

	<!-- 관리자페이지 공지사항 시작 -->
	<section data-bs-version="5.1" class="features38 cid-ubxwyl9azq"
		id="features-66-ubxwyl9azq">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="text-wrapper ">
						<ul
							class="mbr-section-title mbr-fonts-style mb-1 display-7 community align-center">
							<li><a href="">나의 정보</a></li>
							<li><a href="">레시피관리</a></li>
							<li><a href="inquiry.html">1:1문의</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-5 communi">
					<h5>[내 정보 조회]</h5>
					<hr class="hr1" noshade>
					<form class="wrapper-box" role="form" ng-submit="register()">
						Username <input type="text" ng-model="username" class="form-control form-control-username" placeholder="요리사" readonly >
						Email address <input type="email" ng-model="email" class="form-control form-control-email" placeholder="cook@naver.com" readonly >
						Password <input type="password" ng-model="password" class="form-control form-control-password" placeholder="Password" required >
						<button type="submit" class="myPage">수정하기</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="assets/web/assets/jquery/jquery.min.js"></script>
	<script src="assets/smoothscroll/smooth-scroll.js"></script>
	<script src="assets/ytplayer/index.js"></script>
	<script src="assets/embla/embla.min.js"></script>
	<script src="assets/embla/script.js"></script>
	<script src="assets/theme/js/script.js"></script>
</body>
</html>
